.banner, .pagto, .pagtoCards, .pagtoCard, 
.services, .client, .clientIn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    display: flex;
    padding: 0 var(--spaceIn);
    list-style: none;
    gap: var(--spaceIn);
    align-items: center;
}

.bannerIn button, .headerButton {
    margin-top: var(--spaceIn);
    padding: var(--spaceIn);
    border: 2px solid var(--bgColor5);
    background-color: var(--bgColor1);
}
.headerButton {
    background-color: var(--bgColor2);
    border: 2px solid var(--branca);
    margin: var(--spaceIn);
}

.banner {
    width: 100%;
    height: 400px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    /* se a imagem estivesse no HTML, 
       eu teria que usar usar ...

       overlfow-y: hidden;

       ... para a imagem se adaptar à tela
     */
    justify-content: start;
}
.bannerIn {
    width: 50%;
    color: var(--preta);
    background-color: var(--bgColor350);
    /* ou... 
    background-color: var(--bgColor3);
    opacity: 50%; 
    */
    padding: var(--spaceIn);
    cursor: default;
}
.bannerIn p {
    font-weight: bold;
    font-size: 11pt;
}

.pagto, .client {
    color: var(--preta);
    flex-direction: column;
    background-color: var(--cinza);
    gap: var(--spaceIn);
}
.pagtoCards, .clientIn {
    color: var(--preta);
    background-color: var(--cinza);
    justify-content: center;
    gap: var(--spaceIn)    
}
.pagtoCards {
    margin-bottom: var(--spaceOut);
}
.pagtoCard {
    flex-direction: column;
    width: 80px;
    color: var(--preta);
    padding: var(--spaceOut);
    border: 2px solid var(--preta);
    border-radius: var(--spaceIn);
    justify-items: center;
    align-items: center;
    cursor: pointer;
}
.pagtoCard p {
    padding-top: var(--spaceOut);
    font-weight: bold;
}

.services {
    flex-direction: row;
    gap: var(--spaceOut);
    background-color: var(--bgColor1);
    color: var(--cinza);
}
.servicesIn {
    margin: var(--spaceIn);
}
.services img {
    width: 40%;
}

.clientIn img {
    width: 250px;
    height: 250px;
    border-radius: var(--spaceIn);
    cursor: pointer;
}

.table {
    color: var(--preta);
    margin: var(--spaceOut);
    padding: var(--spaceIn);
    background-color: var(--branca);
    border: 1px solid var(--bgColor1);
    border-radius: var(--spaceIn);
    box-shadow: 8px 8px 8px var(--bgColor1);
}
.table h2 {
    text-align: center;
    padding: var(--spaceIn);
}

th:empty {
    border: none;
    background-color: transparent;
}
.pagtoCard:hover {
    background-color: var(--bgColor5);
    animation: headShake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.clientIn img:hover {
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.bottomButtons {
    position: fixed;
    bottom: 0%;
    right: 0%;
}
.bottomButtons a button {
    color: var(--preta);
    margin: 5px;
}