* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --bgColor1: #302727;
    --bgColor2: #ba2d2d;
    --bgColor3: #f2511b;
    --bgColor4: #f2861b;
    --bgColor5: #c7c730;
    --preta: black;
    --branca: white;
    --spaceIn: 10px;
    --spaceOut: 50px;
}

h3 {
    padding: var(--spaceIn);
    border-bottom: 2px solid var(--rosa);
}
button, .headerButton {
    padding: 5px var(--spaceIn);
    color: var(--branca);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.bannerIn button, .headerButton {
    margin-top: var(--spaceIn);
    padding: var(--spaceIn);
    border: 2px solid var(--bgColor2);
    background-color: var(--bgColor1);
}
.headerButton {
    background-color: var(--bgColor2);
    border: 2px solid var(--branca);
    margin: var(--spaceIn);
}

td, th {
    padding: var(--spaceIn);
    color: var(--branca);
    width: 100px;
    border: 1px solid black;
}
th {
    color: var(--branca);
    background-color: var(--bgColor2);
}
td {
    color: var(--preta);
    text-align: center;
}

td:hover {
    border-bottom: 3px solid gray;
    background-color: lightyellow;
    cursor: pointer;
}
td:active {
    background-color: lime;
}


body, header, main, footer, .banner, .bannerIn {
    width: 100%;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header, nav ul, footer, .banner, 
.pagto, .pagtoCards, .pagtoCard, 
.services, .client, .clientIn {
    width: 100%;
    padding: var(--spaceIn);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--branca);
    background-color: var(--bgColor2);
}
header {
    position: sticky;
    top: 0;
}

.headerLeft {
    display: flex;
    padding: 0 var(--spaceIn);
    list-style: none;
    gap: var(--spaceIn);
    align-items: center;
}
.banner {
    width: 100%;
    height: 320px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    justify-content: start;
}
.bannerIn {
    width: 50%;
    color: var(--preta);
    background-color: #f2861b;
    opacity: 50%;
    padding: var(--spaceIn);
}
.bannerIn p {
    font-weight: bold;
    font-size: 11pt;
}

nav ul {
    padding-left: var(--spaceIn);
    list-style: none;
    cursor: pointer;
    gap: var(--spaceIn);
}
img {
    cursor: pointer;
}
nav a {
    color: var(--branca);
    text-decoration: none;

}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spaceOut);
}

.pagto, .client {
    color: var(--preta);
    flex-direction: column;
    background-color: var(--branca);
    gap: var(--spaceIn);
}
.pagtoCards, .clientIn {
    color: var(--preta);
    background-color: var(--branca);
    justify-content: center;
    gap: var(--spaceIn)    
}
.pagtoCard {
    flex-direction: column;
    background-color: var(--branca);
    width: 80px;
    color: var(--preta);
    padding: 70px var(--spaceOut);
    border: 2px solid var(--preta);
    justify-items: center;
    align-items: center;
}
.services {
    flex-direction: row;
    gap: var(--spaceOut);
    background-color: var(--bgColor1);
}
.servicesIn {
    margin: var(--spaceIn);
}
.services img {
    width: 40%;
}
.clientIn img {
    width: 20%;
    height: 300px;
}
.table {
    color: var(--preta);
    padding: var(--spaceIn);
    border: 1px solid var(--bgColor1);
    border-radius: var(--spaceIn);
    box-shadow: 8px 8px 8px var(--bgColor1);
    margin: var(--spaceIn);
}
table {
    border-collapse: collapse;
}
.table h2 {
    text-align: center;
    padding: var(--spaceIn);
}
th:empty {
    border: none;
    background-color: transparent;
}
footer {
    padding: 0;
    justify-content: center;
}
a:hover {
    text-decoration: underline;
}



